* {
    margin: 0;
    padding: 0;
}

main {
    margin: 50px 0;
}

main h1 {
  margin-top: 30px;
}

.scroll_images {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
}

.card {
  aspect-ratio: 2/3;
  min-width: max-content;
  height: 200px;
  margin: 1px 10px;
  cursor: pointer;
  border: 1px solid black;
  overflow: hidden; 
}

.card_img {
  width: 100%;
  height: 40%;
  background-size: cover;
}